
.balanceWrapper {
    background: #FFFFFF;
    border-radius: 48px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 8px;
    margin-right: 48px;
   
}
.balanceWrapper>span {
    margin-right: 10px;
   
}
.balanceWrapper span span{
    color: #899CB1;
}